////////////////////////////////////////////////////////////
///////////////////////////////////////////////////// COLORS
////////////////////////////////////////////////////////////
$colorMidnightGray: #444;
$colorBurntOrange: #FF6347;
$colorLightGray: #DDD;
$colorStoneGray: #AAA;
$colorWhite: #FFF;
$colorBlack: #000;

////////////////////////////////////////////////////////////
////////////////////////////////////////////////////// FONTS
////////////////////////////////////////////////////////////